.container {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 50px;
}